#logoff {
    background: white;
    border: white;
    border-radius:5px;
    color: black;
    right: 5px;
    top: 20px;
    position: fixed;
    font-size: 18px;
}
#loginForm{

    border-radius: 5px;
    border: #b0b0b0;
    background: #b0b0b0;
    margin: auto;
    width: 350px;
    margin-top: 50px;
    padding: 10px 30px 10px;
}
#logon {
    background: black;
    border: black;
    font-size: 14px;
    border-radius:5px;
    color: white;
    width: 325px;
    height: 30px;
    margin: auto;
    margin: 10px 5px 10px;
}
h2 {
    color:white;
    padding-left: 10px;
}
#anmeldeTitle {
    text-align: center;

}