h3 {
    padding: 10px;

}

h4 {
    padding: 10px;

}
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 99%;
    margin: 10px;
}


table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align:center;
}


table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #57595D;
    color: white;
    text-align:center;

}

#myInput {
    margin-left: 10px;
    margin-bottom: 10px;

}

#myInput2 {
    margin-left: 10px;
    margin-bottom: 10px;
}