h3 {
    padding: 10px;

}
#reservationEditForm {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 99%;
    margin: 10px;
}

#reservationEditForm td, #reservationEditForm th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align:center;
}


#reservationEditForm tr:nth-child(even){background-color: #f2f2f2;}

#reservationEditForm tr:hover {background-color: #ddd;}

#reservationEditForm th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #57595D;
    color: white;
    text-align:center;

}